
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layoutMain :: headFragment">
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<script src="/js/movie.js"></script>
<body>
       <!-- Navigation-->
       <th:block th:replace="layout/layoutMain :: navFragment"></th:block>
		<!-- 
        <div class="text-center text-white">
            <img src="https://file.cineq.co.kr/j.aspx?guid=37ccb77c23dd4c58bb91a6694461ea52" />
        </div>
		 -->
       <!-- Section-->
		<section>
			<div class="container px-4 px-lg-5 mt-5">
				<div class="text-center">
			        <h2>박스오피스</h2>
			    </div>
				<hr class="my-4">
				<div class="boxOffice row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
	
				</div>
				<div class="text-center">
			        <h2>상영 예정작</h2>
			    </div>
				<hr class="my-4">
				<div class="comming row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

				</div>
			</div>
		</section>

	<th:block  th:replace="layout/layoutMain :: footerFragment"></th:block>
	
	
<script th:inline="javascript">
$( document ).ready(function() {
	var display = 4;
	movieList(display); //주간 박스오피스
});

</script>
</body>
</html>
